<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NykVote</title>
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed">
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../stylesheets/simple-sidebar.css">
</head>
<body onload="ready()">
    <div class="d-flex" id="wrapper">
        <% include ./sidebar %>
        <div id="page-content-wrapper">
            <% include ./navbar %>
            <div class="container-fluid">
                <h1 class="mt-4">NykVote</h1>
                <div class="container d-flex justify-content-end align-content-end align-items-end" style="margin-bottom: 20px;">
                    <div class="row">
                        <div class="column">
                            <button class="btn btn-info" type="button" data-toggle="modal" data-target="#join-modal">Join Event</button>
                        </div>
                    </div>
                </div>
                <% for(let i=0;i < nama_event.length;i++){ %>
                <a href=<%= "voting/vote?code="+ code[i] %>>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm">
                                    <p><%= nama_event[i] %> / <%= code[i] %></p>
                                </div>
                                <div class="col-sm">
                                    <p style="text-align: center;"><%= start_vote[i] %></p> 
                                    <p style="text-align: center;">s/d</p>
                                    <p style="text-align: center;"><%= end_vote[i] %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <% } %>
            </div>
        </div>
    </div>
    <% include ./modal%>
    <div class="modal fade" role="dialog" tabindex="-1" id="join-modal" style="color: rgb(0,0,0);font-family: Bitter, serif;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-primary">
                    <h4 class="modal-title">Join Events</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <form method="POST" action="voting/joinEvent">
                        <div class="form-group">
                            <input class="form-control" style="text-align: center;" type="text" placeholder="Event Code" name="code" required>
                        </div>
                        <div class="form-group d-xl-flex justify-content-xl-center"><button id="regis" class="btn btn-primary" type="submit">Submit</button></div>
                    </form>
                </div>
                <div class="modal-footer btn-primary" style="padding: 0 0 9px;"></div>
            </div>
        </div>
    </div>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
        function ready(){
            document.getElementById('menu-toggle').click();
            $('#table_id').DataTable();
        }
    </script>
</body>
</html>